/* Clear the default inner and outer margins of the element */
* {
  margin: 0;
  padding: 0
}
/* Make all italics not italic */
em,
i {
  font-style: normal;
}
/* remove the small dot at the front of the list */
li {
  list-style: none;
}
/*The picture has no border, remove the blank gap on the bottom side of the picture*/
img {
  border: 0;  /*ie6*/
  vertical-align: middle;
}
/*Let the button button become a small hand*/
button {
  cursor: pointer;
}
/*Unlink underscore*/
a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #e33333;
}

button,
input {
  font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
 /* cancel the contour line blue */
  outline: none;
}

body {
  background-color: #fff;
  font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
  color: #666
}
.shadow {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
}
.p-shadow {
  box-shadow: 0 0 10px 5px rgb(179,152,216);
  /* -webkit-box-shadow: 0 2px 5px 0 rgba(206,189,223, 0.8);
  -moz-box-shadow: 0 2px 5px 0 rgba(206,189,223, 0.8);
  -o-box-shadow: 0 2px 5px 0 rgba(206,189,223, 0.8); */
}

.hide,
.none {
  display: none;
}
/* clear floats */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}

.clearfix {
  *zoom: 1
}
